body{
  margin:0;
  font-family:sans-serif;
  background:#eef2ff;
}

header{
  background:#191970;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

main{
  max-width:900px;
  width:90%;
  margin:30px auto;
  text-align:center;
  flex:1;
}

button{
  background:#191970;
  color:white;
  border:none;
  border-radius:10px;
  padding:10px 18px;
  margin:5px;
  font-size:16px;
  cursor:pointer;
}

footer{
  background:#191970;
  color:white;
  padding:15px 0;
  line-height:2.0;
}

.footer-inner{
  max-width:1000px;
  margin:auto;
  text-align:center;
}

.footer-links a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  font-weight:bold;
}

.footer-links a:hover{
    text-decoration:underline;
}

.copy{
  font-size:12px;
  opacity:0.8;
}
