body{
  margin:0;
  font-family:sans-serif;
  background:#eef2ff;
}

header{
  background:#191970;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

main{
  max-width:900px;
  width:90%;
  margin:30px auto;
  text-align:center;
  flex:1;
}

button{
  background:#191970;
  color:white;
  border:none;
  border-radius:10px;
  padding:10px 18px;
  margin:5px;
  font-size:16px;
  cursor:pointer;
}
